{% extends 'auctions/layout.html' %}

{% block body %}
<h1>Listing: {{listing.title}}</h1>
<div><img src="https://staticimg.titan.co.in/Titan/Catalog/1785NL01_1.jpg?pView=pdp" alt=""></div>
<p style="font-weight: bold;"><span>$23</span></p>
<div>
    <h2>Details</h2>
    <p>This is a longer card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.</p>
    <ul>
        <li>Category: </li>
        <li>listed by: </li>
    </ul>
</div>
{% endblock %}